@page
@model EmployeeWebsite.Pages.EmployeeModel
@{
}
<h1>Employee Information</h1>
@*<div class="card text-center" style="width: 18rem;">
	<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" class="card-img-top" alt="..." width="150" height="300">

	<label for="First Name">First Name :@Model.Emp.FirstName</label>
	<label for="Last Name">Last Name: @Model.Emp.LastName</label>
	<label for="Age">Age: @Model.Emp.Age</label>
	<label for="Telephone Number">Telephone Number: @Model.Emp.TelNumber</label>
	<label for="BSN">BSN: @Model.Emp.BSN</label>
</div*@

<section style="background-color: #eee;">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">@Model.Emp.FirstName @Model.Emp.LastName</h5>
                    <p class="text-muted mb-1">@Model.Emp.Jobposition</p>
                    <p class="text-muted mb-4">@Model.Emp.Address</p>
                </div>
            </div>
        </div>
        @if (Model.IsEditMode)
        {
            <form method="post">
                <input type="hidden" name="bsn" value="@Model.Emp.BSN" />
                <div class="form-group row">
                    <label for="FirstName" class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.Emp.FirstName" required>
                    </div>
                </div>
                <!-- Add more input fields for the other employee data -->
                <div class="form-group row">
                    <div class="offset-sm-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="@Url.Action("Employee", new { bsn = Model.Emp.BSN })" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        }

        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Emp.FirstName @Model.Emp.LastName</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Age</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Emp.Age</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Emp.TelNumber</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Address</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Emp.Address</p>
                        </div>
                   </div>
                    <hr>
                    <form method="post">
                        <button type="submit" name="edit" class="btn btn-primary">Edit</button>
                    </form>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Shifts</p>
                        </div>
                        <div class="col-sm-9">
                            @foreach (var shiftDate in Model.Emp.ShiftsDates)
                            {
                                <div>
                                    <p class="text-muted mb-0">@shiftDate</p>
                                    <form method="post" asp-page-handler="OnPost" >
                                        <input type="hidden" name="bsn" value="@Model.Emp.BSN" />
                                        <input type="hidden" name="shiftAtIndex" value="@Model.Emp.ShiftsDates.IndexOf(shiftDate)" />
                                        <button type="submit" asp-page-handler="OnPost" class="btn btn-primary btn-sm">Attend Shift</button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Sick Leave</p>
                        </div>
                        <div class="col-sm-9">
                            @if (Model.Emp.SickLeaves != null && Model.Emp.SickLeaves.Count > 0)
                            {
                                foreach (var sickLeave in Model.Emp.SickLeaves)
                                {    
                                     <div>
                                        <p class="text-muted mb-0">@sickLeave.StartDate.ToShortDateString() - @sickLeave.EndDate.ToShortDateString()</p>
                                        <p class="text-muted mb-0">Reason: @sickLeave.Reason</p>
                                        <p class="text-muted mb-0">Approved: @sickLeave.IsScheduled</p>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-muted mb-0">No sick leave scheduled</p>
                            }
                            <form method="post" >
                                <div class="mb-3">
                                    <input type="hidden" name="bsn" asp-for="Emp.BSN" class="form-control">
                                    <span asp-validation-for="Emp.BSN" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="SickLeave.StartDate" class="form-label"></label>
                                    <input asp-for="SickLeave.StartDate" type="date" class="form-control">
                                    <span asp-validation-for="SickLeave.StartDate" class="text-danger"></span>
                                </div>
                               <div class="mb-3">
                                    <label asp-for="SickLeave.EndDate" class="form-label"></label>
                                    <input asp-for="SickLeave.EndDate" type="date" class="form-control">
                                    <span asp-validation-for="SickLeave.EndDate" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="SickLeave.Reason" class="form-label"></label>
                                    <input asp-for="SickLeave.Reason" class="form-control">
                                    <span asp-validation-for="SickLeave.Reason" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                
                                    <input type="hidden" asp-for="SickLeave.IsScheduled" value ="false" class="form-control">
                                    <span asp-validation-for="SickLeave.IsScheduled" class="text-danger"></span>
                                </div>
                                <button type="submit" asp-page-handler="AssignSickLeave" class="btn btn-primary btn-sm">Schedule Sick Leave</button>
                            </form>
                        
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>